<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-icon class="ion-margin-start" name="arrow-back" (click)="closeModal()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="main-theme-grid">
        <div>
            <ion-row>
                <ion-col size="12">
                    <ion-img src="../../assets/img/logo_small.png" class="logo-image"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2>{{"ClubPage.createDrive" | translate}}</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <form [formGroup]="createDrive" (ngSubmit)="createForm()">
                        <ion-row>
                            <ion-col>
                                <ion-item color="none">
                                    <ion-label position="floating">{{'ClubPage.name' | translate}}
                                    </ion-label>
                                    <ion-input type="text" formControlName="name"></ion-input>
                                </ion-item>
                                <input-message [input]="createDrive.get('name')"></input-message>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item color="none">
                                    <ion-label position="floating">{{'ClubPage.driveDate' | translate}}</ion-label>
                                    <ion-datetime max="2030" color="dark" displayFormat="D.MM.YYYY H:mm" formControlName="start_date"></ion-datetime>
                                </ion-item>
                                <input-message [input]="createDrive.get('start_date')"></input-message>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item color="none">
                                    <ion-label position="floating">{{'ClubPage.numberOfPlaces' | translate}}
                                    </ion-label>
                                    <ion-input (ionChange)="changeNumberOfPlaces($event)" min="1" type="number" formControlName="number_of_places"></ion-input>
                                </ion-item>
                                <input-message [input]="createDrive.get('number_of_places')"></input-message>
                            </ion-col>
                        </ion-row>
                        <ion-row style="height: 300px; border-radius: 10px">
                            <ion-col>
                                <app-google-map [start]="startMapPoint" [end]="endMapPoint" [editable]="true" (locationsChanged)="onEmitted($event)"></app-google-map>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="createDrive.get('distance').value">
                            <ion-col>
                                    <ion-label class="ion-margin-start">{{'ClubPage.distance' | translate}}: {{createDrive.get('distance').value}} km</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item color="none">
                                    <ion-label position="floating">{{'ClubPage.pricePerPerson' | translate}} [zł]
                                    </ion-label>
                                    <ion-input type="number" min="0" formControlName="price_per_person"></ion-input>
                                </ion-item>
                                <input-message [input]="createDrive.get('price_per_person')"></input-message>
                            </ion-col>
                        </ion-row>
                        <ion-button color="dark" expand="block" size="large" type="submit" class="ion-margin-top"
                                    [disabled]="!createDrive.valid">{{'ClubPage.create' | translate}}</ion-button>
                    </form>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
