
// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
* {
    font-family: 'Lato', sans-serif;
}

ion-content.side-menu-content {
    --background: #222428;

    ion-list {
        background: #222428;
    }
}

.languageSelectAlert {
    .alert-wrapper {
        background: #222428;

        .alert-head h2 {
            color: white;
        }

        button {
            color: white;
        }
    }
    .alert-radio-group button:nth-child(1) .alert-radio-label {
        display: flex;
        align-items: center;
        color: white;

        --ion-color-primary: #fff !important;

        &:before {
            content: url(/assets/img/pl-flag.png);
            margin-right: 10px;
        }
    }

    .alert-radio-group button:nth-child(2) .alert-radio-label {
        display: flex;
        align-items: center;
        color: white;
        
        .alert-radio-icon {
            border-color: #000;
            .alert-radio-inner {
            }
        }
        

        &:before {
            content: url(/assets/img/uk-flag.png);
            margin-right: 10px;
        }
    }
}

.language-select {
    cursor: pointer;
}

.flag-icon-image {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-button {
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    height: auto;
}
