<ion-app>
    <ion-menu side="start" contentId="content">
        <ion-header>
            <ion-toolbar color="dark">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="side-menu-content">
            <ion-list>
                <ion-menu-toggle>
                    <ion-item color="dark" [routerLink]="['/home']">
                        <ng-container *ngIf="userService.authState; else notLoggedTemplate">
                            <ion-icon name="person" slot="start"></ion-icon>
                            <ion-label>{{"Profile.title" | translate}}</ion-label>
                        </ng-container>
                        <ng-template #notLoggedTemplate>
                            <ion-icon name="home" slot="start"></ion-icon>
                            <ion-label>{{"HomePage.pageName" | translate}}</ion-label>
                        </ng-template>
                    </ion-item>
                </ion-menu-toggle>
                <ng-container *ngIf="userService.authState">
                    <ion-menu-toggle>
                        <ion-item color="dark" [routerLink]="['/club']">
                            <ion-icon name="people" slot="start"></ion-icon>
                            <ion-label>{{"Common.group" | translate}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item color="dark">
                            <ion-icon name="car" slot="start"></ion-icon>
                            <ion-label>{{"Profile.myCars" | translate}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item color="dark" (click)="logout()">
                            <ion-icon name="log-out" slot="start"></ion-icon>
                            <ion-label>{{"Profile.logout" | translate}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ng-container>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-header>
        <ion-toolbar class="menu-toolbar" color="dark">
            <ion-grid>
                <ion-row class="ion-justify-content-between ">
                    <ion-col size="2">
                        <ion-menu-button></ion-menu-button>
                    </ion-col>
                    <ion-col size="2" (click)="changeLanguage()">
                        <ion-img class="flag-icon-image" [src]="imageIconUrl"></ion-img>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
    </ion-header>

    <ion-tabs *ngIf="(userService.isFirebaseAuthenticatedSubscription()) | async; else notLoggedIn">
        <ion-tab-bar id="content" color="dark" slot="bottom">
            <ion-tab-button tab="club">
                <ion-icon name="people"></ion-icon>
                <ion-label>{{'Common.group' | translate}}</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="profile">
                <ion-icon name="person"></ion-icon>
                <ion-label>{{'Common.profile' | translate}}</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
    <ng-template #notLoggedIn>
        <ion-content>
            <ion-router-outlet id="content"></ion-router-outlet>
        </ion-content>
    </ng-template>
</ion-app>
