.register-grid {
    display: flex;
    align-items: center;
    background: #2e3b42dd;
    color: white;
    border-radius: 10px;
    margin: 0.3rem;
    min-height: calc(100% - 0.6rem);
    height: auto;

    ion-item {
        color: white;
    }

    .register-logo-image {
        width: 15%;
        margin-left: auto;
        margin-right: auto;
    }
}
