<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-icon class="ion-margin-start" name="arrow-back" (click)="closeModal()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="main-theme-grid">
        <div>
            <ion-row>
                <ion-col size="12">
                    <ion-img src="../../assets/img/logo_small.png" class="logo-image"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-row>
                        <ion-col size="3" class="flex-center">
                            <ion-img src="../../assets/img/driver_{{this.isArchive ? 'old' : 'young'}}.png" class="driver-image"></ion-img>
                        </ion-col>
                        <ion-col size="9">
                            <ion-row>
                                <ion-col size="12">
                                    <h2>{{itemData.title | uppercase}}</h2>
                                </ion-col>
                                <ion-col size="12">
                                    {{"ClubPage.numberOfPlaces" | translate}}: {{itemData.number_of_places}}
                                </ion-col>
                                <ion-col size="12">
                                    {{"ClubPage.driveDate" | translate}}: {{itemData.start_date | date:"dd.MM.yyy H:mm"}}
                                </ion-col>
                                <ion-col size="12">
                                    {{"ClubPage.price" | translate}}: {{itemData.price_per_person}}zł
                                </ion-col>
                                <ion-col size="12">
                                    {{"ClubPage.driveAuthor" | translate}}: {{itemData.author}}
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row style="height: 300px; border-radius: 10px">
                        <ion-col>
                            <app-google-map [start]="itemData.start_point" [end]="itemData.end_point" [editable]="false"></app-google-map>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-toolbar color="dark" class="presence-toolbar">
                                <ion-segment>
                                    <ion-segment-button value="approved" class="ion-no-padding">
                                        {{ 'ClubPage.driveUsers' | translate }}
                                    </ion-segment-button>
                                </ion-segment>
                            </ion-toolbar>
                            <ion-list>
                                <ion-item *ngIf="driveUsersLoading; else list" color="dark">
                                    <ion-spinner name="lines"></ion-spinner>
                                </ion-item>
                                <ng-template #list>
                                    <ng-container *ngIf="driveUsers && driveUsers.length; else noUsersTemplate">
                                        <ion-item color="dark" *ngFor="let user of driveUsers" class="group-user">
                                            USER
                                            <!-- TODO zrobić ładnie wyświetlanie -->
                                            <!--                                        <ion-img src="{{user.avatar_url || '/assets/img/user.png'}}"></ion-img>-->
                                            <!--                                        <ion-label>{{user.name && user.surname ? user.name + ' ' +-->
                                            <!--user.surname : translateService.instant('ClubPage.anonymusUser')}}</ion-label>-->
                                    </ng-container>
                                    <ng-template #noUsersTemplate>
                                        <ion-label>{{"ClubPage.noDriveUsers" | translate}}</ion-label>
                                    </ng-template>
                                    </ion-item>
                                </ng-template>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-button *ngIf="isAuthor" color="dark" expand="block" size="large" type="submit" class="ion-margin-top" (click)="deleteDrive()">
                                {{"ClubPage.deleteDrive" | translate}}</ion-button>
                            <ng-container *ngIf="!isAuthor && !isArchive">
                                <ion-button *ngIf="isCurrentUserDriveEnrolled" color="dark" expand="block" size="large" type="submit" class="ion-margin-top" (click)="leaveDrive()">
                                    {{"ClubPage.leaveDrive" | translate}}</ion-button>
                                <ion-button *ngIf="!isCurrentUserDriveEnrolled" color="dark" expand="block" size="large" type="submit" class="ion-margin-top" (click)="enrollDrive()">
                                    {{"ClubPage.enrollDrive" | translate}}</ion-button>
                            </ng-container>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
