<p>
    <span color="danger">
        <em *ngIf="input.hasError('required') && (input.dirty || input.touched)">{{ "InputMessage.required" | translate }}</em>
        <em *ngIf="input.hasError('isValidMailFormat') && (input.dirty || input.touched)">{{ "InputMessage.emailFormat" | translate }}</em>
        <em *ngIf="input.hasError('areEqual') && (input.dirty || input.touched)">{{ "InputMessage.notEqual" | translate }}</em>
        <em *ngIf="input.hasError('addressValid') && (input.dirty || input.touched)">{{ "InputMessage.addressValid" | translate }}</em>
        <em *ngIf="input.hasError('isTrue') && (input.dirty || input.touched)">{{ "InputMessage.isTrue" | translate }}</em>
        <em *ngIf="input.hasError('min') && (input.dirty || input.touched)">{{ "InputMessage.min" | translate }} {{field?.constraints?.MIN}}</em>
        <em *ngIf="input.hasError('max') && (input.dirty || input.touched)">{{ "InputMessage.max" | translate }} {{field?.constraints?.MAX}}</em>
        <em *ngIf="input.hasError('range') && (input.dirty || input.touched)">{{ "InputMessage.range" | translate:input.errors }}</em>
        <em *ngIf="input.hasError('password') && (input.dirty || input.touched)">{{ "InputMessage.password" | translate:input.errors }}</em>
        <em *ngIf="input.hasError('compareDates') && (input.dirty || input.touched)">{{ "InputMessage.compareDates" | translate }}</em>
    </span>

    <span color="secondary">
        <em *ngIf="input.valid && (input.dirty || input.touched)"></em>
    </span>
</p>
